<div class='{{class}}'>
    <label for='input' class='form-title {{{classLbl}}}'>{{text}}</label>
    <input
            id='input'
            type='{{type}}'
            name='{{name}}'
            class='input {{classInput}}'
            placeholder="{{placeholder}}"
            value="{{value}}"
        {{#if readonly}}
            readonly
            disabled
        {{/if}}
    />
    <div class='error'></div>
</div>
