<div class="chat">
    <div class="chat-title">
        {{#if currentChat}}
        <div class="chat-people">
            <div class="chat-people__img">
                {{#if currentChat.avatar}}
                    <img class="chat__header-avatar-img" src="https://ya-praktikum.tech/api/v2/resources{{currentChat.avatar}}" alt="изображение собеседника">
                {{/if}}
            </div>

            <h2 class="chat-people__name">{{{        currentChat.title}}}</h2>
        </div>
{{/if}}
        <div class="chat-menu">
            <div class="chat-menu-points">
            </div>
            <div class="submenu">
                {{{addUserInChat}}}
                {{{deleteChat}}}
                {{{deleteUser}}}
            </div>
        </div>

    </div>
    <div class="chat-main">
<!--        <h3 class="chat__day">19 июня</h3>-->
        <div class="chat__content">
            {{#each messages}}
                {{{this}}}
            {{/each}}

<!--                    {{{messageFrom1}}}-->
<!--                    {{{messageFrom2}}}-->
<!--                    {{{messageTo1}}}-->
<!--                    {{{messageTo2}}}-->
<!--                    {{{messageTo3}}}-->
        </div>
    </div>
    <div class="chat-newMessage">
<!--        <div class="chat-addFile"></div>-->
        {{{inputFile}}}
        {{{inputMessage}}}
        {{{button}}}
    </div>
    {{{modaladdUserInChat}}}
    {{{modalDeleteChat}}}
    {{{modalDeleteUser}}}
</div>

