<div class="chat">
    <div class="chat-title">
        <div class="chat-people">
            <div class="chat-people__img">
                <!--                <img src="#" alt="Изображение собеседника">-->
            </div>
            <h2 class="chat-people__name">Андрей</h2>
        </div>

        <div class="chat-menu">
            <div class="chat-menu-points">
            </div>
            <div class="submenu">
                {{{addUserInChat}}}
                {{{deleteChat}}}
                {{{deleteUser}}}
            </div>
        </div>

    </div>
    <div class="chat-main">
        <h3 class="chat__day">19 июня</h3>
        <div class="chat__content">
                    {{{messageFrom1}}}
                    {{{messageFrom2}}}
                    {{{messageTo1}}}
                    {{{messageTo2}}}
                    {{{messageTo3}}}
        </div>
    </div>
    <div class="chat-newMessage">
        <div class="chat-addFile"></div>
        {{{inputMessage}}}
        <button class="chat-pushNewMessage"></button>
    </div>
    {{{modaladdUserInChat}}}
    {{{modalDeleteChat}}}
    {{{modalDeleteUser}}}
</div>

