<main class='registration'>
    <div class='registration__wrapper'>
        <div class='registration__wrapper-header'>Регистрация</div>
        <form action='#' class='form-registration'>
            <div class="form-registration__inputs">
                {{{inputEmail}}}
                {{{inputLogin}}}
                {{{inputName}}}
                {{{inputSecondName}}}
                {{{inputPhone}}}
                {{{inputPassword}}}
                {{{inputNewPassword}}}
            </div>
            {{{buttonRegistration}}}
            <a href='#' class='form-registration__login'>Войти</a>
        </form>
    </div>
</main>