<div class={{class}}>
    <label for='input' class='form-title'>{{text}}</label>
    <input
            id='input'
            type={{type}}
            name={{name}}
            class='form-input'
            placeholder={{name}}
    />
    <div class='error'>Неверный {{text}}</div>
</div>